<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./../css/slideshow.css" rel="stylesheet">
    <script src="./../js/slideshow.js"></script>
  </head>

  <body onload="showSlides()">
    <div align="center">
      <img alt="Home" src="./../images/home.png" onclick="location.href='./../index.html'" title="Home"></img>
    </div>

    <!--<p>Change image every 2 seconds:</p>-->

    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="./../images/image1.jpg" style="width:100%">
        <!--<div class="text">Caption Text</div>-->
      </div>

      <div class="mySlides fade">
        <img src="./../images/image2.jpg" style="width:100%">
        <!--<div class="text">Caption Two</div>-->
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
    </div>
  </body>
</html>
